body {
    font-family: Arial, Helvetica, sans-serif;
}
p {
    font-size: 20px;
}
.col_title {
    font-size: 40px;
}

/* Chia cot */
.col_container {
    display: flex;
    margin: 10px 20px;
}
.col_item {
    flex:1;
    margin: 10px 20px;
}

.col_main {
    flex:2;
}
